.rightdownbox{
    width: 200px;
    height: 200px;
    position: relative;
    animation-name: animate;
    animation-duration: 4s;
    animation-iteration-count: infinite;
    text-align: right;
    margin-left: 50%;
}
@keyframes animate{
    0%{
        background-color: brown;
        left: 0px;
        top: 0px;

    }
    25%{
        background-color: greenyellow;
        left:300px;
        top: 0px;
    }
    50%{
        background-color: whitesmoke;
        left:300px;
        top: 300px;
    }
    75%{
        background-color: gold;
        left:0px;
        top: 300px;
    }
    100%{
        background-color: yellowgreen;
        left:0px;
        top: 0px;
    }

    
}