/*made by shaqib*/
.box {
    margin-top: 20px;
    width: 250px;
    height: 550px;
    border: 2px solid black;    
}

.box1 {
    float: left;
    margin-left: 10px;
    background-color: white;
    border: 2px solid black;
    width: 40px;
    height: 40px;
    animation: move1 2s infinite alternate;
    position: relative;
}
@keyframes move1 {
    0% {top : 10%}
    100% {top : 85%}

/* css edits for circle of left box -rohit*/
.circ{
    margin: 150px;
    border:2px solid black;
    background-color: mediumseagreen;
    border-radius: 500%;
    width: 100px;   
    height: 100px;
    animation: move 1s alternate infinite;
    position: relative;
}

@keyframes move {
    0%{bottom: 100px;}
    100%{top: 300px;}
}
