/*square made by shaqib*/
.box {
    margin-top: 20px;
    width: 250px;
    height: 550px;
    border: 2px solid black;
    display: inline-block;
}

.box1 {
    float: left;
    margin-left: 20px;
    background-color: white;
    border: 2px solid black;
    width: 40px;
    height: 40px;
    animation: move1 2s infinite alternate;
    position: relative;
}

@keyframes move1 {
    0% {top : 10%}
    100% {top : 85%}
}
/* css edits for circle of left box -rohit*/
.circ {
    margin-right: 20px;
    float: right;
    border:2px solid black;
    background-color: white;
    border-radius: 200%;
    width: 70px;   
    height: 70px;
    animation: move 2s infinite alternate;
    position: relative;
}

@keyframes move {
    0%{top: 10%}
    100%{top: 80%;}
}
