*{
    margin: 0;
    padding: 0;
    background-color: aqua;
}
.main{
    height: 500px;
    width: 1000px;
    background-color: black;
    position: absolute;
    top: 40px;
    left: 163px;
}
.left{
    height: 429px;
    width: 300px;
    background-color: red;
    position: relative;
    top: 50px;
    left: 20px;
}
.t-right{
    height: 180px;
    width: 634px;
    background-color: blue;
    position: relative;
    top: -379px; 
    left: 344px;
}
.b-right{
    height: 220px;
    width: 634px;
    background-color:  red;
    position: relative;
    top: -351px;
    left: 344px;
}
.squre{
    height: 100px; width: 100px;
    background-color: royalblue;
    position: relative;
    top: 20px; left: 95px;
    animation: infinite alternate updown 4s;
}
@keyframes updown{
    0%{ 
        background-color: yellow;
        top: 20px; left: 95px;
    }
    100%{
        background-color: orange;
        top: 280px; left: 95px;
    }
}
.circle{
    height: 100px; width: 100px;
    background-color: royalblue;
    position: relative;
    top: 180px; left: 95px;
    border-radius: 50px;
    animation: infinite alternate downup 4s;

}
@keyframes downup{
    0%{ 
        background-color: white;
        top: 200px; left: 95px;
    }
    100%{
        background-color: skyblue;
        top: -80px; left: 95px;
    }

    position: relative;
    top: -351px;
    left: 344px;
}
.squre{
    height: 100px; width: 100px;
    background-color: royalblue;
    position: relative;
    top: 20px; left: 95px;
    animation: infinite alternate updown 4s;
}
@keyframes updown{
    0%{ 
        background-color: yellow;
        top: 20px; left: 95px;
    }
    100%{
        background-color: orange;
        top: 280px; left: 95px;
    }
}
.circle{
    height: 100px; width: 100px;
    background-color: royalblue;
    position: relative;
    top: 180px; left: 95px;
    border-radius: 50px;
    animation: infinite alternate downup 4s;

}
@keyframes downup{
    0%{ 
        background-color: white;
        top: 200px; left: 95px;
    }
    100%{
        background-color: skyblue;
        top: -80px; left: 95px;
    }
}
.box{
    height: 100px; width: 100px;
    background-color: blueviolet; margin: 50px;

    top: 50px; left: 50px; display: inline-block;

}
#box1{ animation: box11 2s infinite alternate}
#box2{ animation: box21 2s infinite alternate}
#box3{ animation: box31 2s infinite alternate}

@keyframes box11{
    0%{ transform: rotate(0deg); background-color: yellowgreen;}
    100%{transform: rotate(360deg); background-color: tomato;}
}

@keyframes box21{
    0%{ transform: rotateX(0deg) ; background-color: black;}
    100%{transform: rotateX(360deg); background-color: aliceblue;}
}

@keyframes box31{
    0%{ transform: rotateY(0deg); background-color: chartreuse;}
    100%{transform: rotateY(360deg); background-color: crimson;}
}

.b-box{

    width: 100px;
    height: 100px;
    position: relative;
    animation-name: animate;
    animation-duration: 4s;
    animation-iteration-count: infinite;

}
.box{
    height: 100px; width: 100px;
    background-color: blueviolet; margin: 50px;

    top: 50px; left: 50px; display: inline-block;

}
#box1{ animation: box11 2s infinite alternate}
#box2{ animation: box21 2s infinite alternate}
#box3{ animation: box31 2s infinite alternate}

@keyframes box11{
    0%{ transform: rotate(0deg); background-color: yellowgreen;}
    100%{transform: rotate(360deg); background-color: tomato;}
}

@keyframes box21{
    0%{ transform: rotateX(0deg) ; background-color: black;}
    100%{transform: rotateX(360deg); background-color: aliceblue;}
}

@keyframes box31{
    0%{ transform: rotateY(0deg); background-color: chartreuse;}
    100%{transform: rotateY(360deg); background-color: crimson;}

@keyframes animate{
    0%{left:0px;
        top:0px;
        background-color: magenta;
    }

    25%{left: 534px;
        top:0px;
        background-color: maroon;
    }
    50%{left: 534px;
        top:120px;
        background-color: moccasin;
    }
    75%{left: 0px;
        top:120px;
        background-color: black;
    }
    100%{left: 0px;
        top:0px;
        background-color: purple;
    }
       
}

.b-box{

    width: 100px;
    height: 100px;
    position: relative;
    animation-name: animate;
    animation-duration: 4s;
    animation-iteration-count: infinite;
}

@keyframes animate{
    0%{left:0px;
        top:0px;
        background-color: magenta;
    }

    25%{left: 534px;
        top:0px;
        background-color: maroon;
    }
    50%{left: 534px;
        top:120px;
        background-color: moccasin;
    }
    75%{left: 0px;
        top:120px;
        background-color: black;
    }
    100%{left: 0px;
        top:0px;
        background-color: purple;
    }
       
}